{% extends "layout.html" %}

{% block body %}

<div class="col-lg-9 my-5">

    {% if title is not none and title|length > 0 %}
    <h2 class="mb-5 ml-3">{{ title }}</h2>
    {% endif %}

    <div class="row">

        {% for product in products %}
        <div class="col-lg-5 col-md-6 mb-4">
            <div class="card h-100">
                <div class="card-body">
                    <h4 class="card-title">
                        <a href="#" class="text-dark">{{ product.name }}</a>
                    </h4>
                    <h5>{{ product.price }}</h5>
                    <p class="card-text text-truncate">{{ product.desc }}</p>
                </div>
            </div>
        </div>
        {% endfor %}

    </div>
    <!-- /.row -->

</div>
<!-- /.col-lg-9 -->
{% endblock %}