{% extends "layout.html" %}

{% block body %}

<div class="col-lg-9 my-4">

    <div class="col-lg-10">
        <div class="row mb-4 justify-content-between">
            <div class="col-lg-2">
                {% if title is not none and title|length > 0 %}
                <h2>{{ title }}</h2>
                {% endif %}
            </div>
            <div class="col-auto">
                {% if ctgr_page is none or ctgr_page is not defined%}
                <form method="POST" action="{{ url_for('index') }}">
                    {{ order_by_form.options(**{"onchange":"this.form.submit()"}) }}
                </form>
                {% else %}
                <form method="POST" action="{{ url_for('category_show', category_id=ctgr_page, title=title) }}">
                    {{ order_by_form.options(**{"onchange":"this.form.submit()"}) }}
                </form>
                {% endif %}
            </div>
        </div>
    </div>

    <div class="row">

        {% for product in products %}
        <div class="col-lg-5 mb-4">
            <div class="card h-100">
                <div class="card-body">
                    <h4 class="card-title">
                        <a href="#" class="text-dark">{{ product.name }}</a>
                    </h4>
                    <p class="card-text text-truncate">{{ product.desc }}</p>
                    <div class="d-flex justify-content-between">
                        <h5 class="my-auto">{{ product.price }}</h5>
                        <a href="{{ url_for('add_product_to_cart', product_id=product.id) }}" class="btn btn-primary">Lisää koriin</a>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}

    </div>
    <!-- /.row -->

</div>
<!-- /.col-lg-9 -->
{% endblock %}