{% extends "layout.html" %}

{% block body %}

<div class="col-lg-9 my-5">

    <div class="row">
        <div class="col-lg-12">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Päivämäärä</th>
                        <th scope="col">Osoite</th>
                        <th scope="col">Postinumero</th>
                        <th scope="col">Kaupunki</th>
                        <th scope="col">Suoritettu</th>
                    </tr>
                </thead>
                <tbody>
                    {% if orders is not none %}
                    {% for order in orders %}
                    <tr>
                        <td><a href="{{ url_for('show_order', order_id=order.id) }}" class="btn btn-outline-dark btn-sm">{{ order.id }}</a></td>
                        <td>{{ order.date }}</td>
                        <td>{{ order.address }}</td>
                        <td>{{ order.postal_code }}</td>
                        <td>{{ order.city }}</td>
                        <td>
                                {% if order.completed %}
                                    {% if current_user.is_admin %}
                                        <a href="{{ url_for('order_change_completed_status', order_id=order.id) }}" class="btn btn-outline-success btn-sm">
                                    {% endif %}
                                        Kyllä
                                    {% if current_user.is_admin %}
                                        </a>
                                    {% endif %}
                                {% else %}
                                    {% if current_user.is_admin %}
                                        <a href="{{ url_for('order_change_completed_status', order_id=order.id) }}" class="btn btn-outline-danger btn-sm">
                                    {% endif %}
                                        Ei
                                    {% if current_user.is_admin %}
                                        </a>
                                    {% endif %}
                                {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                    {% endif %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}