{% extends "layout.html" %}

{% block body %}

<form method="POST" action="{{ url_for('products_update', product_id=product_id) }}">

    <div class="col-lg-5 my-5 ml-5">

        <div class="form-group">
            {{ form.name.label }}
            {{ form.name }}
        </div>
        
        <div class="form-group">
            {{ form.description.label }}
            {{ form.description }}
        </div>
        
        <div class="form-group">
            {{ form.price.label }}
            {{ form.price }}
        </div>

        <div class="form-group">
            {{ form.quantity.label }}
            {{ form.quantity }}
        </div>

        <div class="form-group">
            {{ form.category.label }}
            {{ form.category }}
        </div>

        <div class="form-group mt-5">
            {{ form.button }}
        </div>

    </div>

    {% for error in form.name.errors %}
        <p class="my-2 ml-5">{{ form.name.label }}: {{ error }}</p>
    {% endfor %}

    {% for error in form.description.errors %}
        <p class="my-2 ml-5">{{ form.description.label }}: {{ error }}</p>
    {% endfor %}

    {% for error in form.price.errors %}
        <p class="my-2 ml-5">{{ form.price.label }}: {{ error }}</p>
    {% endfor %}

    {% for error in form.quantity.errors %}
        <p class="my-2 ml-5">{{ form.quantity.label }}: {{ error }}</p>
    {% endfor %}

    {% for error in form.category.errors %}
        <p class="my-2 ml-5">{{ form.category.label }}: {{ error }}</p>
    {% endfor %}

</form>

{% endblock %}